html {
    background-color: #2b2b2b;
    margin: 0%;
    padding: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0%;
    padding: 0%;
}

h1 {
    color: #fbfbfb;
    text-align: center;
}

h3 {
    color: #fbfbfb;
    text-align: center;
}

hr {
    border: 1px solid red;
}

nav {
    text-align: center;
}

a {
    text-decoration: none;
    color: #fbfbfb;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
    padding-top: 2%;
    font-size: larger;
}

a:hover {
    color: #e10000;
}

form label {
    color: black;
    font-size: larger;
    float: left;
}

form {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #cbcbcb;
    margin-left: 33%;
    margin-right: 33%;
    border: solid;
    border-color: #e10000;
    text-align: center;
}

input {
    width: 65%;
    float: right;
}

h3 a {
    padding: 0%;
    font-size: 25px;
    color: #e10000;
}
