html {
    background-color: #2b2b2b;
    margin: 0%;
    padding: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0%;
    padding: 0%;
}

h1 {
    color: #fbfbfb;
    text-align: center;
}

h3 {
    color: #fbfbfb;
    text-align: center;
}

hr {
    border: 1px solid red;
}

nav {
    text-align: center;
}

h2 {
    text-align: center;
    color: #fbfbfb;
    margin: 0%;
}

a {
    text-decoration: none;
    color: #fbfbfb;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
    padding-top: 2%;
    font-size: larger;
}

a:hover {
    color: #e10000;
}

.grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-column-gap: 2px;
}

.griditem {
    background-color: whitesmoke;
    border: solid black;
    padding: 1%;
    margin: 1%;
    display: grid;
    grid-template-rows: 20% 60% 20%;
    grid-row-gap: 5px;
    padding: 4%;
    text-align: center;
}

.grid h3 {
    color: black;
}

.griditem a {
    color: red;
 }
